.post-content {
  & > *:first-child {
    margin-top: 0;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.5;
    font-weight: 600;
    margin-top: 40px;
    word-break: break-word;
  }

  & h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    letter-spacing: -.066875rem;
  }

  & h2 {
    font-size: 2.25rem;
    letter-spacing: -.049375rem;
  }

  & h3 {
    font-size: 1.5rem;
    letter-spacing: -0.029375rem;
  }

  & h4 {
    font-size: 1.25rem;
    letter-spacing: -.020625rem;
  }

  & h5 {
    font-size: 1rem;
    letter-spacing: -.01125rem;
  }

  & h6 {
    font-size: .875rem;
    letter-spacing: -.005625rem;
  }

  & hr {
    height: 1px;
    background-color: #e1e4e8;
    border: 0;
    margin: 3rem 0;
    padding: 0;
  }

  & p {
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 1.6;
  }

  & code {
    font-family: var(--code-font);
    color: var(--inline-code-color);
    font-size: .9rem;

    &.inline-code::before {
      content: '`';
    }

    &.inline-code::after {
      content: '`';
    }
  }

  & .pre-wrapper {
    margin: 24px 0 40px;
    position: relative;
    background: white;

    &:before {
      content: attr(data-lang);
      position: absolute;
      top: 5px;
      right: 5px;
      font: 13px var(--code-font);
      color: #cacaca;
    }
  }

  & pre,
  & .code-mask {
    font-family: var(--code-font);
    border: 1px solid #eaeaea;
    position: relative;
    white-space: pre;
    overflow: auto;
    z-index: 2;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.575em;
    font-size: .875em;
    -webkit-overflow-scrolling: touch;

    & code {
      color: #000;
      font-size: 13px;
      line-height: 20px;
    }
  }


  & .code-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 20px;
    border: none;
    color: transparent;
  }

  & .code-line {
    display: block;
    padding: 0 20px;

    &.highlight {
      background-color: var(--highlight-background-color);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--highlight-line-border-color);
      }
    }
  }

  & pre {
    padding: 20px;
  }

  & table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }

  & table th,
  & table td {
    padding: 12px 10px;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
  }

  & thead th {
    color: var(--table-header-color);
    background: var(--table-header-background);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    font-weight: 400;
    font-size: 12px;
    padding: 10px;

    &:first-child {
      border-left: 1px solid var(--border-color);
      border-radius: var(--radius) 0px 0px var(--radius);
    }

    &:last-child {
      border-right: 1px solid var(--border-color);
      border-radius: 0 var(--radius) var(--radius) 0;
    }
  }

  & ol,
  & ul {
    padding: 0;
    list-style-type: none;
    margin-left: 15px;

    & li {
      font-size: var(--text-size);
      line-height: 24px;
    }

    &.contains-task-list {
      margin-left: -2px;
    }

    &:not(.contains-task-list) {
      & li {
        &::before {
          content: '-';
          display: inline-block;
          color: #999;
          position: absolute;
          margin-left: -15px;
        }
      }
    }
  }

  & ol {
    list-style-type: decimal;

    & > li {
      &::before {
        content: '';
      }
    }
  }

  & img {
    max-width: 100%;
  }

  & blockquote {
    border-left: .25rem solid #dfe2e5;
    padding: 0 1rem;
    color: #6a737d;
    margin: 20px 0;

    & p {
      margin: 15px 0 0 0;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  & .header-anchor {
    color: inherit;
    display: inline;
    position: relative;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid var(--text-color);

      & ~ .header-anchor-icon {
        visibility: visible;
      }
    }
  }

  & .header-anchor-icon {
    visibility: hidden;
  }
}
