.saika-theme-portfolio {
  --profile-width: 200px;
  --portfolio-gap: 30px;
}

.content {
  display: flex;
  width: 100%;
  padding: var(--portfolio-gap);

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
}

.sticky {
  position: sticky;
  height: fit-content;
}

.card {
  display: block;
  padding: 20px;
  border-radius: var(--radius);
  background-color: #f9f9f9;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--border-color);
  }
}

.main {
  width: calc(100% - var(--profile-width));
  padding-left: 200px;

  @media (max-width: 768px) {
    padding-left: 0;
    width: 100%;
  }
}
